@keyframes animationBadge {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px) rotateY(360deg)
    }
    100% {
        transform: none;
    }
}
.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: tomato;
    color: white !important;
    font-size: 12px;
    animation: animationBadge 2s ease-in-out infinite;
}

.badge-point {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: tomato;
    color: white;
    font-size: 12px;
}