.status-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing:border-box;
}
.status-bar__column span,
.status-bar__column i {
    margin-right: 5px;
}
.status-bar__column {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}



